<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#" id="close">Fechar</a>
        </div>

        <form action="/search">
            <Label for="search">Cidade</Label>
            <div class="search field">
                <input type="text" name="search">
                <button>
                    <img src="/imgs/search.svg" alt="Buscar">
                </button>
            </div>            
        </form>
    </div>
</div>